<md-toolbar>

    <h3>Muralidharan Nandakumar</h3>
    <div flex></div>

    <button  md-raised-button [routerLink]="['/']">
    Home
    </button>

    <button md-raised-button [routerLink]="['/about']">
      About
    </button>

    <button md-raised-button [routerLink]="['/github', 'angular']">
      Github Repos
    </button>

    <button md-raised-button [routerLink]="['/contact']">
      Contact Us
    </button>

</md-toolbar>

<main>
	<router-outlet></router-outlet>
</main>


<footer>
  © 2016
</footer>
